# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Proyectos\dwes_2021-dgonzalez20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
